/*主题色*/
$classics-theme-color: #335285;

/**导航栏*/
$classics-nav-next-color: #fff;
$classics-nav-item-color: rgba(255, 255, 255, 0.9);
$classics-nav-item-hover-color: #fff;
$classics-nav-item-hover-bg-color: #3f73c4;

/*menus*/
$classics-menus-background-color: #374768;
$classics-menus-menu-color: rgba(255, 255, 255, 0.7);

$classics-menus-menu-hover-background-color: #223152;
$classics-menus-menu-hover-color: #fff;
$classics-menus-menu-hover-border-left-color: #3f73c4;

/*对话框*/
$classics-dialog-icon-color: #fff;
